h1 {
  color: coral;
  text-align: center;
}
h2 {
  color: darkred;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
p{margin-left: 100px
  margin-bottom:100px
  margin-right:150px
}
div{
  width:300px
  margin:auto;
}
body{
  background-color: skyblue
}
body{
  background-image: url("trial.jpeg");
}
}
